// background styles
$prim-bg-color: #fefefe;

// Mobile-menu button color
$dark-green: #7eb101;

// Text styles
$txt-sans: "sans-serif";
$txt-roboto: "Roboto";
$prim-txt-color: #2c2c2c;
$menu-txt-color: #000;

// Accent color
$accent-color: #bbf330;

// Breakpoints
$mobile: 480px;
$tablet: 768px;

// Shadows
$header-shadow: rgba(105, 105, 105, 0.1);

// Slide border
$yellow-main: #ffe550;

// Animation-time function
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-time: 250ms;
